<div class="container">
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-md-4">
        <h2><%= video.title %></h2>
        <a href="#" class="thumbnail">
          <img src="http://placekitten.com/360/200" alt="Meow">
        </a>
        <div class="row">
          <div class="col-md-6">
            <p>By <a href="#"><%= video.user.displayname %></a></p>
          </div>
          <div class="col-md-6 text-right">
            <p><%= l video.created_at, format: :short %></p>
          </div>
        </div>
        <p>
          <%= video.description %>
        </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> 
      </div>
    <% end %>
  </div>
</div> <!-- /container -->