<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Footube!</h1>
      <p>
        We are happy to be allowed to welcome you to our video portal.
      </p>
      <p>
        <%= link_to 'Browse Videos', videos_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= paginate @videos %>
    </div>
  </div>
  <div class="row">
    <%= render @videos %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @videos %>
    </div>
  </div>
</div> <!-- /container -->