<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello World</h2
      <p>
        Welcome to Footube!
      </p>
      <p>
        <%= link_to 'Browse Videos', videos_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render @videos %>
  </div>
</div> <!-- /container -->